* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-dark: #023047;
  --main-med: #219ebc;
  --main-light: #8ecae6;
  --accent-med: #fb8500;
  --acent-light: #ffb703;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: var(--main-med);
}

.mobile-menu-icon {
  width: 35px;
}

ul {
  padding-inline-start: 0px;
}

.nav-secondary {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
}

.nav-item {
  padding: 5px;
  width: 25%;
  text-align: center;
}

.nav-events {
  background-color: var(--accent-med);
}

.nav-news {
  background-color: var(--acent-light);
}

.nav-legislation {
  background-color: gold;
}

.nav-help {
  background-color: var(--main-light);
}

.img-hero {
  width: 100vw;
}
