* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-darkest: #021d2a;
  --main-dark: #023047;
  --main-med: #219ebc;
  --main-light: #8ecae6;
  --accent-dark: #fb5400;
  --accent-med: #fb8500;
  --accent-light: #ffb703;
  --accent-lighter: #ffd700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: var(--main-med);
}

.mobile-menu-icon {
  width: 35px;
}

/* - - - - NAV - - - - */

ul {
  padding-inline-start: 0px;
}

.nav-secondary {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
}

.nav-item {
  padding: 5px;
  width: 25%;
  text-align: center;
}

.nav-events {
  background-color: var(--accent-dark);
}

.nav-news {
  background-color: var(--accent-med);
}

.nav-legislation {
  background-color: var(--accent-light);
}

.nav-help {
  background-color: var(--accent-lighter);
}

/* - - - HERO - - - -  */

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 300px;
  background-image: url("./images/pig-ben-mater.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-light);
  background-color: rgba(2, 48, 71, 0.6);
  padding: 20px;
}

/* - - - - MAIN SECTION - - - - */

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-items: center;

  background: rgb(255, 255, 240);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 240, 1) 0%,
    rgba(33, 158, 188, 0.5) 0%,
    rgba(202, 232, 239, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 40px;
}

.home-category-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 5px 5px 5px var(--main-dark);
  height: 250px;
  border-radius: 5px;
}

.category-text {
  text-align: center;
  width: 100%;
  background-color: var(--main-dark);
  color: var(--main-light);
  border-radius: 0 0 5px 5px;
}

.bird-pic {
  background-image: url("./images/bird.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cat-paw-pic {
  background-image: url("./images/cat-paw-hand.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pigs-pic {
  background-image: url("./images/pig-ben-mater.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pig-human-pic {
  background-image: url("./images/pig-latorre.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mission-container {
  margin-top: 40px;
  padding: 40px 80px;
  background-color: var(--accent-med);
  width: 100%;
  text-align: center;
  color: var(--main-darkest);
}

.mission-container > h3 {
  font-size: 1.5rem;
}

.mission-container > p {
  font-size: 1.2rem;
  padding-top: 10px;
}

/* .small-image {
  width: 200px;
}

.main-grid {
  display: grid;
  row-gap: 10px;
}

.section-container {
}

.main-section-title {
  padding: 10px;
  text-align: center;
}

.main-child-box {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-color: var(--accent-lighter);
}

.main-child-text {
  padding: 10px;
  width: 100%;
}

.main-child-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
  background-color: var(--accent-med);
} */
